<ol>
    <b>
        <li>Date is :{{date}}</li>
    </b>
    <li>First Step : Node Installation</li>
    <li>Second Step :Angular Cli</li>
    <li>Third Step :ng new [Name of the Project]</li>
    <li>Fourth Step :ng serve</li>
</ol>
<h4>V8 Engine Build On Javascript : Main Purpose of this Engine is ==>Converts the byte code to machine understandable
    code</h4>
<h5>We Can Run Javascript Outside the browser.</h5>
<b>Date is :{{date}}</b>
<h5>npm : Node Package Manager (Install the Javascript Packages in inside your computer)</h5>
<h1>Package.json : Which install the list of dependencies</h1>
<b>Date is :{{date}}</b>
<h5>Typescript is a strongly typed programming language that builts on javascript</h5>
<h5>Typescript ==> Transpiles To Javascript</h5>
<b>Date is :{{date}}</b>
<h5>Javascript(Dynamic Language) is a loosely typed language :=>Data Types can change during runTime</h5>
<!-- <h2>tsc --init (Creates the new tsconfig.json)</h2>
<h1>Angular is a Moduler FrameWork</h1>
<h1>Creaters creates the Small Small modules</h1>
<h1>spec files are used for testing (unit testing)</h1>
<h1>Angular.json to configure the angular related things</h1>
<h1>Module : Logically Grouping Components</h1>
<h1>Component which contains the view [HTML File] and logic [TS File].</h1> -->
<!-- <button>Module : Module is a logically Groupng of the components which we can re-use</button>
<h4>Module.ts <b>=></b> @ngModule decorator : Grouong of Components,,,,Bootstrap [WHich one is render first],,, Imports</h4>
<h5>TemplaateURL Which connects the html and the view i.e We can use the template url so that the component can we are able to use</h5>
<h1>First index.html & main.ts</h1> -->
<h3>For Angular Routing First we need a collection </h3>
<h1>Router Link and router.navigate</h1>
<h1>Lazy Loading Means :On Demand Loading</h1>
<h1>Only loads what is necesseary</h1>
<h1>Divide your project into saparate modules other wise lazy loading is not possible</h1>
<h1>Services in angular : Share the common functionality accross the application</h1>
<h1>output Decorator :How a child component can communicate to the parent component</h1>
<input type="text" [(ngModel)]="date">
<button (click)="sendData()">Send</button>
<ul *ngFor="let a of arr">

    <li>{{a}}</li>
</ul>
<b>The value is :{{date}}</b>
<input type="text" value="{{date}}">